
{{#each data as |data|}}
<!-- view post -->
    <div class="row" style="margin-bottom: 0.75rem;">
        <div class="col-2"></div>
        <div class="col-8" style="border: 5px solid rgb(79, 13, 13); border-radius: 0.5rem; padding: 1rem;">
            <div style="background-color: rgb(79, 13, 13); border-radius: 0.5rem; color:rgb(218, 241, 184); padding: 0.15rem; margin-bottom: 0.75rem">
                <div style="margin-left: 2rem;">
                  <h1>Post Name</h1>
                </div>
            </div>
            <div>
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Placeat, vitae eveniet id laboriosam natus odio adipisci. Consectetur doloremque error in laboriosam pariatur, odit, vero inventore, laudantium delectus labore alias enim?
                </p>
            </div>
        </div>
        <div class="col-2"></div>
    </div>

    <!-- view comment -->
    <div class="row" style="margin-bottom: 0.75rem;">
        <div class="col-2"></div>
        <div class="col-8" style="border: 5px solid rgb(79, 13, 13); border-radius: 0.5rem; padding: 1rem;">
            <div style="background-color: rgb(79, 13, 13); border-radius: 0.5rem; color:rgb(218, 241, 184); padding: 0.15rem; margin-bottom: 0.75rem">
                <div style="margin-left: 2rem;">
                  <h1>Comment</h1>
                </div>
            </div>
            <div>
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Placeat, vitae eveniet id laboriosam natus odio adipisci. Consectetur doloremque error in laboriosam pariatur, odit, vero inventore, laudantium delectus labore alias enim?
                </p>
            </div>
        </div>
        <div class="col-2"></div>
    </div>
{{/each}}